:root {
  --background-color: rgb(17, 17, 17);
  --primary-color: #9c39ff;
  --secondary-color: rgb(25, 25, 25);
  --third-color: rgb(109, 90, 129);
  --text-color1: rgb(255, 255, 255);
  --text-color2: rgb(137, 136, 136);
  --error-color: red;
  --success-color: rgb(0, 234, 0);
}

// .light-theme {
//   --background-color: #ffffff;
//   --primary-color: #4e8cff;
//   --secondary-color: #f2f2f2;
//   --text-color1: #222222;
//   --text-color2: #666666;
// }
