.stepper {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* background-color: red; */
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    z-index: 2;
}

.step-name {
    font-size: 14px;
}

.stepper-active .step-number {
    background-color: var(--secondary-color);
    color: #fff;
}

.stepper-complete .step-number {
    background-color: var(--primary-color);
    color: #fff;
}

.progress-bar {
    width: 95%;
    position: absolute;
    top: 37%;
    left: 0;
    height: 4px;
    background-color: #ccc;
}

.progress {
    height: 100%;
    background-color: var(--primary-color);
    transition: 0.2s ease;
}

