.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    height: 150px;

    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .title{
            font-size: 20px;
            font-weight: bold;
        }

        .counter{
            font-size: 38px;
            font-weight: 600;
        }

        .link{
            width: max-content;
            font-size: 14px;
            color: gray;
            border-bottom: 1px solid gray;
            cursor: pointer;
        }
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .icon{
            font-size: 64px;
            padding: 5px;
            border-radius: 20px;
            // color:dodgerblue;
            // background-color: rgba(30, 143, 255, 0.3);
        }
    }
}