$primary-color: blue;
$error-color: red;
$background-color: #dcd8d8;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
}

.login-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
    width: 90%;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      background-color: $background-color;
      border-radius: 4px;
    }
  }

  .error-message {
    color: $error-color;
    margin-bottom: 10px;
    text-align: center;
  }

  .login-button {
    width: max-content;
    padding: 10px 10px;
    margin-top: 30px;
    background: $primary-color;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }

  .go-to-signup{
    margin-top: 15px;
    font-size: 18px;
    padding: 5px 5px;
    font-weight: 600;
    background-color: rgba(0, 100, 0, 0.3);
    color: darkgreen;
    border-radius: 10px;
    cursor: pointer;

    &:hover{
      text-decoration: underline;
    }
  }
}
